@model IEnumerable<TorreWebapp.Models.JobOpportunity.Result>

@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results</h1>

<a asp-action="Index">Back to Search</a>

@Html.ValidationMessage("CustomError")
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.objective)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.organizations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.external)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.objective)
                </td>
                <td>
                    <ul>
                        @foreach (var org in item.organizations)
                        {
                            <li>@org.name</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.external)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>