@model TorreWebapp.Models.PersonResult

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function seeMore(module) {
        document.getElementById(module).style.display = 'block';
        document.getElementById(module + 'SeeMore').style.display = 'none';
        document.getElementById(module + 'SeeLess').style.display = 'block';
    }
    function seeLess(module) {
        document.getElementById(module).style.display = 'none';
        document.getElementById(module + 'SeeMore').style.display = 'block';
        document.getElementById(module + 'SeeLess').style.display = 'none'
    }
</script>

<h1>Details</h1>

<div>

    <h4> @Html.DisplayFor(model => model.person.name)</h4>
    <div>
        <img src="@Html.DisplayFor(model => model.person.pictureThumbnail)" alt="@Html.DisplayFor(model => model.person.name)">
    </div>
    @Html.ValidationMessage("CustomError")
    <div>
        <a asp-action="Index">Back to Search</a>
    </div>
    <div>
        <h4>Personal Data</h4>
        <a id="dataSeeMore" href="#" onclick="seeMore('data');">See more...</a>
        <a href="#" id="dataSeeLess" style="display:none" onclick="seeLess('data');">See less...</a>
        <hr />
        <dl id="data" class="row" style="display:none;">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.professionalHeadline)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.professionalHeadline)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.completion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.completion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.showPhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.showPhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.created)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.verified)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.verified)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.weight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.locale)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.locale)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.subjectId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.subjectId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.hasEmail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.hasEmail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.claimant)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.claimant)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.summaryOfBio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.summaryOfBio)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.weightGraph)
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.person.weightGraph" alt="@Model.person.name">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.person.publicId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.person.publicId)
            </dd>
        </dl>

    </div>
    <div>
        <h4>Experiences</h4>
        <a id="experiencesSeeMore" href="#" onclick="seeMore('experiences');">See more...</a>
        <a href="#" id="experiencesSeeLess" style="display:none" onclick="seeLess('experiences');">See less...</a>
        <hr />
        <div id="experiences" style="display:none;">
            @if (!(Model == null) && !(Model.experiences == null))
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Category
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Organizations
                            </th>
                            <th>
                                Organizations Images
                            </th>
                            <th>
                                From Month
                            </th>
                            <th>
                                From Year
                            </th>
                            <th>
                                To Month
                            </th>
                            <th>
                                To Year
                            </th>
                            <th>
                                Responsabilities
                            </th>
                            <th>
                                High lighted
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Verifications
                            </th>
                            <th>
                                Recommendations
                            </th>
                            <th>
                                Rank
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.experiences)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var org in item.organizations)
                                        {
                                            <li>@org.name</li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var org in item.organizations)
                                        {
                                            <img src="@org.picture" alt="@org.name" />
                                        }
                                    </ul>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fromMonth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fromYear)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.toMonth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.toYear)
                                </td>
                                <td>
                                    <ul>
                                        @foreach (var res in item.responsibilities)
                                        {
                                            <li>@res</li>
                                        }
                                    </ul>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.highlighted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.verifications)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.recommendations)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rank)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div>
        <h4>Strength</h4>
        <a id="strengthSeeMore" href="#" onclick="seeMore('strength');">See more...</a>
        <a href="#" id="strengthSeeLess" style="display:none" onclick="seeLess('strength');">See less...</a>
        <div id="strength" style="display:none;">
            @if (!(Model == null) && !(Model.strengths == null))
            {
                <table class="table">
                    <thead>
                        <tr>

                            <th>
                                Code
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Additional Info
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Recommendations
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.strengths)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.additionalInfo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.recommendations)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div>
        <h4>Languages</h4>
        <a id="languagesSeeMore" href="#" onclick="seeMore('languages');">See more...</a>
        <a href="#" id="languagesSeeLess" style="display:none" onclick="seeLess('languages');">See less...</a>
        <div id="languages" style="display:none;">
            @if (!(Model == null) && !(Model.languages == null))
            {
                <table class="table">
                    <thead>
                        <tr>

                            <th>
                                Language
                            </th>
                            <th>
                                Fluency
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.languages)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.language)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fluency)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

</div>


